.navbar {
  background-color: #272727;
  padding: 15px;
  padding-bottom: 15px;
}

.nav-container {
  width: 90%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.home-website-logo {
  width: 110px;
}

.nav-items {
  padding-left: 0;
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 25px;
}

.nav-link-lg {
  text-decoration: none;
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
}

.logout-btn {
  background-color: #6366f1;
  border: none;
  border-radius: 3px;
  padding: 4px 22px;
  color: #f8fafc;
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  outline: none;
}
